streamlit
SQLAlchemy
yfinance
psycopg2-binary
plotly
pytz
holidays
feedparser
bs4
PyYAML
scikit-learn
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.x.x/en_core_web_sm-3.7.2.tar.gz

